
<html>
    
    
<head>
    
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">    
    

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        

    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    
    
    
       
    <style>
    .blue{color: khaki }
    .gray{color: gray}
    .font1{font: italic bold 1.5em/1em Georgia, serif}


    </style>
    
</head>
        
<body>    
    
   
    <div id="app"> <center>
          <br><br> 퀴즈 : 이 영화의 감독은?<br><br>
          <input type=text @keyup.enter="add()">
        <button class="btn btn-dark" @click="add()">Enter </button> 
      
        <br><br><br>
     
        
         <h1><p class="font1" >{{title}} </p></h1>
        
        <table border=1 class="table table-bordered table-sm">
            <tr>
            <td><strong>번호</strong></td>
            <td><strong>주인공</strong></td>
            <td><strong>사진</strong></td>
            
            </tr>
             <tr v-for="(x, index) in lists">
                <td>{{index+1}}</td>
                <td><a :href="x.link">{{x.title}}<img v-if="x.visible"  src=star.jpg width=32 height=32></a></td>
                <td><img :src="x.image" width="300"> </td>                
            </tr>  
        </table>    
        
        <div>{{copyright}} </div> 
        
            <br><br><br>
           <input type=text v-model ="b_title">
        <input type=text v-model ="b_image">
         <input type=text v-model ="b_link">
        
        
    <button @click="append()">작성</button> <br><br><br>
        
        
        
      
        
        
    </div>  
        
<script>
    new Vue({
        el :"#app",
        data : {
            title : "좋아하는 사진 추가하기",
            copyright : "@hyebin",
            b_title : "제목",
            b_image : "이미지",
            b_link : "URL",
            lists : [
            {title:"포뇨", image:"po.jpg", link:"http://google.co.kr", visible:0},
            {title:"소스케", image:"popo.jpg", link:"http://google.co.kr", visible:1},
            ]
        },
        methods : {
            add : function() { 
                alert("제출되었습니다");
            },
            sub : function() {
                alert("click2");
            },
            append : function(){
                /*
              this.lists.push({
                  title:"포뇨오", image:"so.jpg", link:"http://naver.co.kr"});
                */
                
                d={ title:this.b_title, image:this.b_image, link:this.b_link};
                this.lists.push(d);
                this.b_title="";
                this.b_image="";
                this.b_link="";
                
            }
        }
        
    });    
    
</script>
    

</body>
    
    
</html>   

